.root{
  width:100%;
  background:none;
  color: var(--fontA-color-primary);
  font-size: var(--font-size-main);
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Helvetica Neue", Arial, sans-serif;
}